*{
    margin : 0px;
    padding : 0px;
    background-color:#96C0B7 ;
}
h1{
    
    text-align: center;
}
.father{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.maindiv{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
    width: 350px;
    
    
    
}
.box{
    text-align: center;
    border :none;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    align-content: center;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    margin : 3px;
    background-color: whitesmoke;
    font-size: 54px;
    color: coral;
    
}
#Reset{
    background-color: rgba(15, 15, 15, 0.74);
    color : white;
    height: 50px;
    width : 100px;
    border-radius: 5px;
    border: none;
}

.msg-container{
    display: flex;
    background-color: blueviolet;
    
}
.hide{
    display: none;
}